*{
    padding: 0;
    margin: 0;
}

/**** body ****/
#wrapper 
{
    margin: 5% auto;
    width: 68.4%;
    background-color: white;
    box-shadow: 5px 5px 2px 1px #888888;
    border: solid grey 1px;
    
}

body {
    background-color: ghostwhite;

}

/**** footer ****/
footer {
    width: 100%;
    background-color: whitesmoke;
     border-top: 1px dotted black;  
    }

/****list items ****/
ul {
    list-style-type: none;
    margin: 1% 12% 0 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;
    margin-right: 6%;
}

#creators li {
    float: none;
}

li a {
    display: block;
    text-align: center;  
    text-decoration: none;
}

li a:hover {
    color: red;
}

/**** form ****/
#theForm
{
    width: 80%;
    margin: 10px auto ;
    text-align: center;
    height:185px;
}


/**** typography ****/
h1 {
    text-align: center;
    margin: 60px 0 0 0;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 200;
    font-size: 44px;
}

 p {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;

}

#gitHub {
    text-align: center;
    display: block;
    margin: 20px;
}
