*{
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 20px auto;
    width: 68.4%;
    background-color: white;
    box-shadow: 5px 5px 2px 1px #888888;
    border: solid grey 1px;
}

#theForm {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
body {
    background-color: white;
}

h1, p {
    text-align: center;
    padding: 10px 0;
}
